:root {
    color-scheme: light dark;

    --particle-color-dark: #333;
    --particle-color-light: #ffffff; 
  }

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    /* padding: 2rem; */
    padding: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

#settingsButton {
  margin-left:auto;
}

.left-buttons {
  display:flex;
  gap:10px;
}

.navbar button{
  width: 100px;
  margin-right:0.25rem;
}

.material-icons {
  font-size: 24px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.button1 {
  width: 100px;
  height: 100px;
  padding: 10px 20px; 
  border-radius: 50px;
  margin:0.25rem;

  transition: transform 0.3s ease;
}

.button1:hover {
  transform: scale(1.05);
}

.button1:active{
  --scale-factor:0.95;
  transform: scale(var(--scale-factor));
}

.settingsButton {
  margin-right: 0.25rem;
}

.logo {
  display:flex;
  justify-content: center;
  align-items: center;
  height:400px;
}
.logoImg {
  width:400px;
  height:400px;
}

.spinnerDiv {
  position:relative;
  margin:3rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position:relative;
  width:250px;
  height:250px;

  border-radius: 50%;
}

.spinnerCircle {
  position:absolute;
  width:65px;
  height:65px;

  background-color: white;
  transform:translate(-50%,-50%);
  border-radius: 50%;
}

.spinnerCircleCenter {
  position:absolute;
  width:35px;
  height:35px;

  background-color: white;
  transform:translate(-50%,-50%);
  border-radius: 50%;
}

.line {
  position: absolute;
  background-color: white;
  width: 5px;
}

.logoContainer {
  display:flex; 
  justify-content: center;
  align-items: center;
  height:400px;
  width:400px;
  border-radius: 15%;
  border: 7px solid white;
  overflow: hidden;
  /* position:relative; */
}

.logoContainer::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 100;
  width:141.421%;
  transform: rotate(45deg);
  transform-origin: 1px 1px;
  background-color: white;
}

.logoTextContainer { 
  position:absolute;
  justify-content: center;
  align-items: center;
}

.topLeftText{
  /* position: absolute; */
  position: relative;
  color: white; 
  bottom: 50px;
  right: 30px;
  font-size: 350px; 
}

.bottomRightText{
  position: absolute;
  /* position: relative; */
  /* color: #333;  */
  color: white; 
  bottom: 20px;
  right: 0px;
  font-size: 100px; 
}

  
  @media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
    :root {
      --particle-color: var(--particle-color-light);
    }
    .logo {filter:invert()}
  }
  
  @media (prefers-color-scheme: light) {
    body { background: #ddd; color: #333; }
    /* .logo {filter:invert()} */
    .spinnerCircle {background-color: #333;}
    .spinnerCircleCenter {background-color: rgb(51, 51, 51);}
    .line {background-color: #333;}
    .topLeftText{ color:#333}
    .bottomRightText{color:white}
    :root {
      --particle-color: var(--particle-color-dark);
    }
  }